/* For Mobile Only*/
@media (max-width: 700px) {
    .main-header {
        min-height: 70px;
    }

    .main-header .main-nav .main-nav-list {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: var(--clr1);
        box-shadow: -13px 0px 20px 0px rgb(0 0 0 / 50%);
        min-width: 200px;
        font-size: 1.2em;
        transform: translateX(115%);
        transition: transform 0.6s;
    }

    body.menu-opened .main-header .main-nav-list {
        transform: translateX(0);
    }

    .main-header .btn-menu {
        background-color: rgba(29, 29, 29);
        color: rgb(245, 232, 232);
        font-size: 0.7em;
        padding: 5px 10px;
    }

    .main-header .btn-menu:hover {
        background-color: rgb(48, 45, 45);
    }

    .main-header .main-nav-list .list-item {
        width: 100%;
    }

}


@media (min-width: 600px) {
    .main-layout {
        max-width: 570px;
    }

    .gallery img {}
}

@media (min-width: 720px) {
    .main-layout {
        max-width: 700px;
    }

    .gallery img {
        max-width: 200px;
    }

    .main-footer {
        font-size: 1em;
    }

    .main-header .btn-menu {
        display: none;
    }

    .main-header .main-nav-list li:not(:last-child) a {
        border-right: 1px solid #1d1d1d;
    }

    .main-footer {
        min-height: 200px;
    }

    .main-footer .main-layout > * {
        margin-bottom: 32px;
    }

    .meme-editor-container .main-layout #canvas {
        margin-bottom: 35px;
    }

    .meme-editor-container .main-layout .edit-menu > *{
        padding: 18px 12px;
    }

    i {
        font-size: 1.8em;
    }
}

@media (min-width: 980px) {
    .main-layout {
        max-width: 950px;
    }

    .gallery img {
        max-width: 300px;
    }

    .meme-editor-container .main-layout {
        height: 65vh;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 1100px) {
    .main-layout {
        max-width: 1050px;
    }
}