.meme-editor-container {
    display: none;
    background-color: #e3e3e3;
    height: 100vh;
    padding-top: 15px;
}

.meme-editor-container .main-layout {
    width: 100%;
}

.meme-editor-container .main-layout .canvas-container {
    display: flex;
    justify-content: center;
}

.meme-editor-container .main-layout #canvas {
    width: 97%;
    margin-bottom: 15px;
    /* cursor: grab; */
}

.meme-editor-container .main-layout #canvas:hover {
    opacity: 0.9;
}

.meme-editor-container .main-layout .edit-menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 0.2fr 1fr 1fr 1fr;
    grid-template-areas: 'txt   txt   txt   txt   txt'
                         ' .   switch  addl  rmvl   .'
                         ' .     .     .     .     .'
                         ' .   dec   inc   clr   clrf'
                         ' .   .   upload   .     .'
                         'save save    .   share  share';
    gap: 10px;
}

.meme-editor-container .edit-menu .grid-item{
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.meme-editor-container .main-layout .edit-menu > *:hover{
    background-color: rgba(239, 238, 238, 0.632);
}

.meme-editor-container .edit-menu .txt-input{
    cursor:text;
    text-align: center;
    grid-area: txt;
}

.meme-editor-container .edit-menu .switch-line{
    grid-area: switch;
}

.meme-editor-container .edit-menu .font-increase{
    grid-area: inc;
}

.meme-editor-container .edit-menu .font-decrease{
    grid-area: dec;
}

.meme-editor-container .edit-menu .clr-input{
    grid-area: clrf;
}

.meme-editor-container .edit-menu .fa-fill-drip{
    grid-area: clr;
}

.meme-editor-container .add-line {
    grid-area: addl;
}

.meme-editor-container .remove-line {
    grid-area: rmvl;
}

.meme-editor-container .edit-menu .btn-save {
    grid-area: save;
}

.meme-editor-container .edit-menu .btn-share {
    grid-area: share;
}

.meme-editor-container .edit-menu .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr1);
    color: white;
    font-weight: 500;
    font-size: 1.25em;
}

.meme-editor-container .edit-menu .btn:hover {
    background-color: #ff8000e1;
}

.meme-editor-container .icon-upload {
    grid-area: upload;
}

